ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*   .my-custom-class{
    display:flex;
    justify-content:center;
    align-items:center;
}

.scroll-content {
    display: flex;
    justify-content: center;
    align-items: center;
  } */